# This is a sample .env file.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match
# your desired configuration

# User name in container
OS_USER_NAME="user"

# User password in container
OS_USER_PWD="user"

# Massa git info (for building massa node)
MASSA_GIT_REPO="https://github.com/massalabs/massa.git"
# Git branch name (e.g. testnet_19) or Git tag (e.g. TEST.19.0) or Git commit hash
MASSA_GIT_BRANCH="testnet_19"
CARGO_BUILD_JOBS="8"
# Update section in massa node config.toml file, example: --update logging.level=3 --update ...
# CONFIG_USER_TWEAK="--update logging.level=3"

# Massa wallet password
NODE_WALLET_PWD="massa"

# Node 1 ip address (don't change anything here for the moment)
NODE_1_IP="11.0.0.11"

# Node 1 secret key (if updated, update also: ./config/node_1_privkey.key)
NODE_1_SECRET_KEY="S12g19LGdyS4n14iPnXUg1QdffbJZikWsLRWJa6grncz2k9dZa5M"

# Node 1 public key (if updated, update also: ./config/node_1_privkey.key)
NODE_1_PUBLIC_KEY="P1Sy9Fm1iRNi6QdLNqDWrUyV4wFwMDzEgVZngLzPBK99fP9i5EQ"

# Node 1 id (same as public key, but first letter changed to 'N')
NODE_1_ID="N1Sy9Fm1iRNi6QdLNqDWrUyV4wFwMDzEgVZngLzPBK99fP9i5EQ"

# Node 1 address (if updated, update also: ./config/initial_ledger.json and initial_rolls.json)
NODE_1_ADDRESS="A12BUit1MvW3ZnTtgYwAd4j8D4ZGA6BQo7GVnrMyByqmttiLeV5K"

# Node 2 ip address (don't change anything here for the moment)
NODE_2_IP="11.0.0.12"

# Node 2 secret key (if updated, update also: ./config/node_2_privkey.key)
NODE_2_SECRET_KEY="S138ChkJEUbq9MTKNrvt53LBSvmxDhQn9wKj7TL9CTj6QbedxJD"

# Node 2 public key (if updated, update also: ./config/node_2_privkey.key)
NODE_2_PUBLIC_KEY="P1YyWXenTz9jthow4FzrrZXcNA5Rk1bvv2FBKG2gtEn2PainTWJ"

# Node 2 id (same as public key, but first letter changed to 'N')
NODE_2_ID="N1YyWXenTz9jthow4FzrrZXcNA5Rk1bvv2FBKG2gtEn2PainTWJ"

# Node 2 address (if updated, update also: ./config/initial_ledger.json and initial_rolls.json)
NODE_2_ADDRESS="A1bATGfhM45J62UQySTV41iHvBFBtJa1j3ZqsUrDxmfhvs5XW95"

# Node 1 private api url (don't change anything here for the moment)
NODE_1_API_URL_PRIVATE="http://127.0.0.1:33034"

# Node 1 public api url (don't change anything here for the moment)
NODE_1_API_URL_PUBLIC="http://127.0.0.1:33035"

# Node 2 private api url (don't change anything here for the moment)
NODE_2_API_URL_PRIVATE="http://127.0.0.1:34034"

# Node 2 public api url (don't change anything here for the moment)
NODE_2_API_URL_PUBLIC="http://127.0.0.1:34035"

# GENESIS_TIMESTAMP : (don't change anything here for the moment)
GENESIS_TIMESTAMP=""
