# This is a sample .env file for use in docker development.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match
# your desired configuration

# A username to build you environnment in a container :
BUILD_USER="user"

# A password for your username active in the container :
USER_PWD="user"

# Your massa wallet password in order to launch a node :
NODE_WALLET_PWD="user"

# The IP of our first node : (don't change anything here for the moment)
NODE_1_IP="10.0.0.11"

# The secret key of our first node : (update the file ./config/node_1_privkey.key)
NODE_1_SECRET_KEY="S11CjnOdeff5AXPcYzhPjUuvt5gvhMURMY7J9KxqxxMasSasuoq"

# The public key of our first node : (update the file ./config/node_1_privkey.key)
NODE_1_PUBLIC_KEY="P1wsPnOdeuRY3E5ZGXFuH8hmpfS5ZfLtTeTzYkx5e5MasSas7Hf"

# The address key of our first node : (update the file ./config/initial_ledger.json and initial_rolls.json)
NODE_1_ADDRESS="A12NxnOdeHMxXoKn1nEjLTiTvDLwomee3EeqD734yahMasSahucJ"

# The secret key of our second node : (update the file ./config/node_2_privkey.key)
NODE_2_SECRET_KEY="S11CjnOdef123456789SjUuvt5gvhMURMY7J9KxqxxMasSasuoq"

# The public key of our second node : (update the file ./config/node_2_privkey.key)
NODE_2_PUBLIC_KEY="P1wsPnOde123456789EFuH8hmpfS5ZfLtTeTzYkx5e5MasSas7Hf"

# The address key of our second node : (update the file ./config/initial_ledger.json and initial_rolls.json)
NODE_2_ADDRESS="A12NxnOdeHMxXo123456789OvDLwomee3EeqD734yahMasSahucJ"

# GENESIS_TIMESTAMP : (don't change anything here for the moment)
GENESIS_TIMESTAMP=""
