# This is a sample .env file.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match
# your desired configuration

# User name in container
OS_USER_NAME="user"

# User password in container
OS_USER_PWD="user"

# Massa git info (for building massa node)
MASSA_GIT_REPO="https://github.com/massalabs/massa.git"
# Git branch name to the custom commit
MASSA_GIT_BRANCH="23df894fa3396dfbb6950a1e90122a44ae167c9c" # modified
CARGO_BUILD_JOBS="8"
# Update section in massa node config.toml file, example: --update logging.level=3 --update ...
CONFIG_USER_TWEAK="--update logging.level=4"

# Massa wallet password
NODE_WALLET_PWD="massa"

# Node 1 ip address (don't change anything here for the moment)
NODE_1_IP="11.0.0.11"

# Node 1 secret key (if updated, update also: ./config/node_1_privkey.key)
NODE_1_SECRET_KEY="S1b5f76ZCRo5NBjo7mABmLy6vyEeWdj6mv2TRzWRy7c6B65EcVR"

# Node 1 public key (if updated, update also: ./config/node_1_privkey.key)
NODE_1_PUBLIC_KEY="P128mGchAQdRT4Kks7eBmXReU8J1Z6yCEt5M3e2k9t1v6jFZSVPA"

# Node 1 id (same as public key, but first letter changed to 'N')
NODE_1_ID="N128mGchAQdRT4Kks7eBmXReU8J1Z6yCEt5M3e2k9t1v6jFZSVPA"

# Node 1 address (if updated, update also: ./config/initial_ledger.json and initial_rolls.json)
NODE_1_ADDRESS="AU12e1wofeZnGtptk5XNvyXQLU7Qx9yUwbeaaJPYyJpuSDjekJwcd"

## ***** Done *****

# Node 2 ip address (don't change anything here for the moment)
NODE_2_IP="11.0.0.12"

# Node 2 secret key (if updated, update also: ./config/node_2_privkey.key)
NODE_2_SECRET_KEY="S1ntZwbBNRFXAc6B64SMdhoR3ffA78UzRdXy4bgFrxyVUk8p4YC"

# Node 2 public key (if updated, update also: ./config/node_2_privkey.key)
NODE_2_PUBLIC_KEY="P125miJmCJqQVpfTw1qxub975vh7Pn8hunRuc3USCqEHL9F3B488"

# Node 2 id (same as public key, but first letter changed to 'N')
NODE_2_ID="N125miJmCJqQVpfTw1qxub975vh7Pn8hunRuc3USCqEHL9F3B488"

# Node 2 address (if updated, update also: ./config/initial_ledger.json and initial_rolls.json)
NODE_2_ADDRESS="AU1ooNZCjuXLmyVcRSybiE6WVcyF2GPeCkkyzKKuK3VXdfdxnvZQ"

# Node 2 ip address (don't change anything here for the moment)
NODE_2_IP="11.0.0.12"

## ****** Done

# Node 3 secret key (if updated, update also: ./config/node_3_privkey.key)
NODE_3_SECRET_KEY="S1xDUKzhKW5oz4GeSYWm3ijqzcrp4RaSaPerGDALYM26in3rEQd"

# Node 3 public key (if updated, update also: ./config/node_3_privkey.key)
NODE_3_PUBLIC_KEY="P12MAzck14VP5vRiGXmqrBfJmKM5LCXBYwc485anvGi32BKgS4Ha"

# Node 3 id (same as public key, but first letter changed to 'N')
NODE_3_ID="N12MAzck14VP5vRiGXmqrBfJmKM5LCXBYwc485anvGi32BKgS4Ha"

# Node 3 address (if updated, update also: ./config/initial_ledger.json and initial_rolls.json)
NODE_3_ADDRESS="AU1xEJ1YFbhtpkivsLQvmAgh8Xx1vxvSp3r7xTCZd8nHepNs9KsE"

# Node 3 ip address (don't change anything here for the moment)
NODE_3_IP="11.0.0.13"


## ****** Done

# Node 4 secret key (if updated, update also: ./config/node_4_privkey.key)
NODE_4_SECRET_KEY="S1etDezN19AawYo7bjESDQGKBehmSJ4ju7efGVVuXcCdqMak9Wh"

# Node 4 public key (if updated, update also: ./config/node_4_privkey.key)
NODE_4_PUBLIC_KEY="P12YuUxrwghhX7sP8LBoZ7J4z14c7MZ7CWfceKTNt2LEwwmwfFae"

# Node 4 id (same as public key, but first letter changed to 'N')
NODE_4_ID="N12YuUxrwghhX7sP8LBoZ7J4z14c7MZ7CWfceKTNt2LEwwmwfFae"

# Node 4 address (if updated, update also: ./config/initial_ledger.json and initial_rolls.json)
NODE_4_ADDRESS="AU127JLMfBkMSD8QZ7WTYRXRXMEPXsQRj4aWkXxjnEajKqdfGzeUr"

# Node 2 ip address (don't change anything here for the moment)
NODE_4_IP="11.0.0.14"


# Node 1 private api url (don't change anything here for the moment)
NODE_1_API_URL_PRIVATE="http://127.0.0.1:33034"

# Node 1 public api url (don't change anything here for the moment)
NODE_1_API_URL_PUBLIC="http://127.0.0.1:33035"

# Node 2 private api url (don't change anything here for the moment)
NODE_2_API_URL_PRIVATE="http://127.0.0.1:34034"

# Node 2 public api url (don't change anything here for the moment)
NODE_2_API_URL_PUBLIC="http://127.0.0.1:34035"

# Node 3 private api url (don't change anything here for the moment)
NODE_3_API_URL_PRIVATE="http://127.0.0.1:35034"

# Node 3 public api url (don't change anything here for the moment)
NODE_3_API_URL_PUBLIC="http://127.0.0.1:35035"

# Node 4 private api url (don't change anything here for the moment)
NODE_4_API_URL_PRIVATE="http://127.0.0.1:36034"

# Node 4 public api url (don't change anything here for the moment)
NODE_4_API_URL_PUBLIC="http://127.0.0.1:36035"

# GENESIS_TIMESTAMP: (don't change anything here for the moment)
GENESIS_TIMESTAMP="1684464725000"

# GENESIS_TIMESTAMP MULTI: (don't change anything here for the moment)
GENESIS_TIMESTAMP1="1684464725000"
GENESIS_TIMESTAMP2="1684465025000"
GENESIS_TIMESTAMP3="1684465125000"
GENESIS_TIMESTAMP4="1684465225000"
